@charset "utf-8";

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
}

ul,
ol,
dl {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
}
.img {
	width:100%;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	cursor: pointer;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html {
	font-size: 62.5%;
	-webkit-overflow-scrolling: auto;
}

@media (max-width: 320px) { html { font-size: 56.5%; } }
@media (max-width: 280px) { html { font-size: 50%; } }

body {
	font-size: 1.5rem;
	line-height: 1.5;
	font-family: 'Pretendard-Regular';
	letter-spacing: -0.025em;
	-webkit-text-size-adjust: none;
}

select,
button,
input,
textarea {
	-webkit-appearance:none;
	font-family: 'Pretendard-Regular';
}
input[type="file"] {line-height:5rem;}
input[type="file"]::file-selector-button {display:none;}

body {
	--bg-root:#ffffff
}

.dark-mode body {

}

body {
	--limit-width:144rem;
	--button-primary:#ffcd00
}

.w-full {width:100% !important}
.hide {overflow:hidden !important; position:absolute !important; width:1px !important; height:1px !important; margin:0 !important; padding:0 !important; border:0 !important; white-space:nowrap !important; clip:rect(1px, 1px, 1px, 1px) !important; clip-path:inset(50%) !important;}
.buttons.-right {text-align:right;}
.buttons.-center {margin-top:8rem; text-align:center;}
.inner {width:var(--limit-width); min-width:var(--limit-width); margin:0 auto;}
.point {color:#fcb900}
.-ellipsis-2 {display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}
.plr-0 {padding-left:0 !important; padding-right:0 !important;}
.center {text-align:center;}
.ptb-8 {padding-top:0.8rem !important; padding-bottom:0.8rem !important;}
.none {display:none !important}
.mr-10{margin-right:10px !important}
.ml-10{margin-left:10px !important}

body {background-color:var(--bg-root);}
body.lock {overflow:hidden;}

/* 버튼 */
.button {display:inline-block; height:4rem; line-height:4rem; padding:0 1.5rem; border-radius:0.8rem; font-size:1.6rem; font-weight:600; background-color:#fff;}
.button.-primary {color:#111; background-color:#ffcd00;}
.button.-secondary {color:#111; background-color:#fff5cb;}
.button.-border-type {color:#111; border:1px solid #d3ded3; background-color:#fff;}
.button.-md {height:5rem; line-height:5rem; padding:0 5rem; border-radius:1.2rem; font-size:1.8rem; font-weight:600;}
.button.-lg {height:6.5rem; line-height:6.5rem; padding:0 5rem; border-radius:1.2rem; font-size:2.1rem; font-weight:700;}
.button:disabled {color:#474747; background-color:#d9d9d9; cursor:no-drop;}
.button.w-full {padding:0 0.4rem;}

.content-buttons {display:flex; justify-content:center; align-items:center; margin-top:100px;}
.more-button {width:173px; height:60px; border-radius:30px; background-color:#f8c131; font-size:22px; font-weight:700; color:#fff}
.more-button::before {content:"+";}

/* 체크박스 */
.checkboxs {display:flex; justify-content:space-between;}
.checkboxs .checkbox {flex:1; position:relative; margin-top:0.5rem;}
.checkboxs .checkbox > label {padding-left:2.5rem; font-size:2rem;}
.checkboxs .checkbox > label::before {content:''; position:absolute; left:0; top:50%; transform:translateY(-50%); width:2.2rem; height:2.2rem; border:1px solid #e6e6e6; border-radius:0.4rem;}
.checkboxs .checkbox > .checked:checked + label::before {border-color:#ffcd00; background-color:#ffcd00; transition:all 0.25s;}
.checkboxs .checkbox > label::after {content:''; position:absolute; left:0; top:50%; transform:translateY(-50%); width:2.2rem; height:2.2rem; background:url(../imgs/ico/ico-checked.svg) no-repeat 50% / 1.2rem auto; filter:invert(1);}
.checkboxs .checkbox > .checked:checked + label::after {filter:invert(0);}

/* 레이아웃 */
.container {padding-top:96px;}
.header {display:flex; align-items:flex-start; overflow:hidden; position:fixed; top:0; left:0; z-index:100; width:100%; border-bottom:1px solid #d3d3d3; background-color:#fff; transition:height 0.25s ease-in-out;}
.header .inner::after {content:''; position:absolute; right:0.5rem; bottom:-370px; z-index:-1; width:240px; height:122px; background:url(../imgs/img/img-HM010-5.svg) no-repeat 50% / 100% auto; transition:bottom 0.25s ease-in-out;}
.header .inner {display:flex; justify-content:space-between; align-items:center; position:relative; height:96px; }
.header .inner .logo {position:absolute; left:100px; top:50%; width:171px; height:38px; margin-top:-16px}
.header .inner .logo a {display:block; overflow:hidden;}
.header .inner .logo img {display:block; width:100%; transition:transform 0.25s ease-in-out;}
.header .inner .logo::after {content:''; position:absolute; right:0.5rem; bottom:-37rem; z-index:-1; width:16rem; height:16.6rem; background:url(../imgs/img/img-HM010-4.svg) no-repeat 50% / 100% auto; transition:bottom 0.25s ease-in-out;}
.header .inner .gnb {margin-left:331px;}
.header .inner .gnb .menu-depth1 {display:flex; gap:4rem;}
.header .inner .gnb .menu-depth1 li {position:relative; width:85px; text-align:center;}
.header .inner .gnb .menu-depth1 li .link {font-size:20px; font-weight:500; word-break:keep-all; text-align:center; text-wrap:nowrap;}
.header .inner .gnb .menu-depth1 li .link:hover {font-weight:800; color:#ffcd00;}
.header .inner .gnb .menu-depth2 {display:none; position:absolute; padding-top:2rem; text-align:center; }
.header .inner .header-right {display:flex;}
.header .inner .quick-search {overflow:hidden; position:relative; margin-left:5.4rem; border-radius:12px;}
.header .inner .quick-search::after {content:''; position:absolute; left:8rem; top:9rem; width:26.5rem; height:13rem; background:url(../imgs/img/img-HM010-5.svg) no-repeat 50% / 100% auto; transition:left 0.25s ease-in-out;}
.header .inner .quick-search .link {display:flex; align-items:center; position:relative; width:29.3rem; height:5.1rem; padding:1.4rem 5.7rem 1.3rem 1.6rem; font-size:2rem; color:#474747; background-color:#F8F8F8;}
.header .inner .quick-search .link::after {content:''; position:absolute; right:0; top:0; width:4.5rem; height:5.1rem; background:url(../imgs/ico/ico-search.png) no-repeat 50% / 4rem auto;}
.header .inner .quick-link {margin-left:5.3rem;}
.header .inner .quick-link .link {font-size:2.4rem; background-color:#fff;}
.header .inner .quick-link .welcome-msg {display:block; font-size:1.6rem; color:#343434; margin-right:1rem;}
.header.-open-depth2 {height:28rem;}
.header.-open-depth2 .inner::after {bottom:-185px;}
.header.-open-depth2 .inner .logo::after {bottom:-23.5rem;}
.header.-open-depth2 .inner .gnb .menu-depth2 {display:block;}
.header.-open-depth2 .inner .gnb .menu-depth2 .link {line-height:4rem; font-size:18px; font-weight:400; color:#111;}
.header.-open-depth2 .inner .quick-search::after {left:0;}

.field .label {display:block; font-size:1.8rem; font-weight:600; color:#111;}
.field .text ,
.field .select {position:relative; width:100%; margin-top:0.5rem;}
.field .text input,
.field .select select {display:block; width:100%; height:5rem; padding:0 1.6rem; border:1px solid #d9d9d9; border-radius:1rem; font-size:2rem; font-weight:300; color:#111; background-color:#fff;}
.field .select select {background:#fff url(../imgs/ico/ico-select-arrow.png) no-repeat right 1.6rem center / 1rem auto; -webkit-appearance:none;}
.field .text input::placeholder {color:#909090;}
.field .text.-file input {background:#fff url(../imgs/ico/ico-file-input.png) no-repeat right 2rem center / 2.4rem auto;}
.textarea {position:relative;}
.textarea textarea {display:block; width:100%; min-height:18.3rem; padding:1.6rem; margin-top:1.7rem; border:1px solid #d9d9d9; border-radius:1rem; background-color:#fff; color:#121212; font-size:2rem; resize:none;}
.field-half {display:flex; align-items:center; gap:2.8rem;}
.field-half .field {width:50%; margin:0 !important;}

.footer {display:flex; align-items:center; position:relative; min-width:var(--limit-width); height:254px; margin-top:19rem; background-color:#233d4d;}
.footer .footer-info {display:flex; justify-content:center; gap:0 120px; align-items:center; font-size:2rem; font-weight:500; color:#fff;}
.footer .footer-info dl {display:flex; align-items:center;}
.footer .footer-info dl dt {margin-right:0.4rem;}
.footer .footer-copy {margin-top:90px; font-size:1.4rem; font-weight:100; color:#fff; text-align:center;}
.footer .footer-logo {position:absolute; left:100px; top:60px; width:171px; height:38px;}

.modal {display:none; position:relative; z-index:1000;}
.modal::before {content:''; position:fixed; left:0; top:0; width:100vw; height:100vh; background-color:rgba(0,0,0,.3);}
.modal .container {overflow:hidden; position:fixed; left:50%; top:50%; transform:translate(-50%, -50%); z-index:100; width:70rem; padding:0; border-radius:1.2rem; background-color:#fff;}
.modal .header {position:static; height:5rem; padding:0; border-bottom:none; background-color:#fff;}
.modal .header .close {position:absolute; right:0; top:0; width:5.5rem; height:5.5rem; background:url(../imgs/ico/ico-close.svg) no-repeat 50% / 100% auto;}
.modal .content {overflow-x:hidden; overflow-y:auto; max-height:77rem; padding:0 2.4rem 3rem;}
.modal .fixed {width:100%; padding:2.4rem 0 3rem; text-align:center;}

.swal2-container {/* 전체 컨테이너 */}
.swal2-container .swal2-popup {border-radius:1.4rem;}
.swal2-container .swal2-title {font-size:3rem; color:#111;}
.swal2-container .swal2-html-container {font-size:1.8rem; color:#343434;}
.swal2-container .swal2-actions {}
.swal2-container .swal2-confirm,
.swal2-container .swal2-cancel {color:#111;}
.swal2-container .swal2-styled {height:4rem; line-height:4rem; padding:0 1.5rem; border-radius:0.8rem; font-size:1.6rem; font-weight:600; color: #111; background-color: #ffcd00;}
.swal2-container .swal2-styled:focus {box-shadow: none; outline: none;}
.swal2-container .swal2-styled span {/* 버튼 내부 텍스트 span (자동 생성되는 경우) */}

