.page.-main {background-color:#fffef6;}

.main-banner {position:relative; min-width:var(--limit-width);}
.main-banner .img-box {overflow:hidden; height:200px;}
.page.-main .main-banner .img-box {height:666px;}
.main-banner .img-box img {width:100%; height:100%; object-fit:cover; object-position:50%;}
.main-banner .text-box {position:absolute; top:220px; left:200px}
.main-banner .text-box .title {font-size:78px; font-weight:600; color:#111}
.main-banner .text-box .txt {font-size:26px; font-weight:500; color:#111}

.festival-area,
.suggestion-place,
.community-area,
.map-content-area,
.list-content-area,
.my-region-area,
.profile-area,
.place-category-list,
.plan-area,
.make-route-area {margin-top:150px;}
.map-content-area + .make-route-area {margin-top:0;}

.title-box {text-align:center;}
.title-box .title {display:flex; justify-content:center; align-items:center ;line-height:1.2; font-size:48px; font-weight:700; color:#111;}
.title-box .title .title-box-icon {display:inline-block; width:48px; height:48px;}
.title-box .txt {margin-top:1rem; font-size:2.4rem; font-weight:600; color:#111;}
.title-box a.txt {display:inline-block; position:relative; padding-right:2rem; font-size:2.4rem; font-weight:600; color:#111;}
.title-box a.txt::after {content:''; position:absolute; right:0; top:50%; transform:translateY(-50%) rotate(45deg); width:1.2rem; height:1.2rem; border-top:1px solid #343434; border-right:1px solid #343434;}
.title-box .button {margin-top:1rem;}
.title-box + .buttons {margin-top:6rem;}

.place-category-tabs {display:flex; justify-content:center; align-items:center; margin-top:40px;}
.place-category-tabs ul {display:flex; justify-content:center; align-items:center; gap:14px;}
.place-category-tabs ul .item button {height:46px; padding:0 40px; border:1px solid #333; border-radius:22px; font-size:20px; font-weight:500; color:#000; background-color:transparent;}
.place-category-tabs ul .item.-active button {background-color:#333; color:#fff;}
.place-category-panels {padding:0 170px; margin-top:100px;}
.place-category-panels .tabs-panel {display:none; position:relative; width:1000px; margin:0 auto;}
.place-category-panels .tabs-panel.-active {display:block;}
.place-category-panels .place-area-swiper {overflow:hidden;}
.place-category-panels .place-area-swiper .swiper-slide {width:280px;}
.place-category-panels .place-area-swiper .swiper-slide .img-box {overflow:hidden; width:280px; height:280px; border-radius:100%;}
.place-category-panels .place-area-swiper .swiper-slide .txt-box .name {font-size:24px; font-weight:700; color:#111; text-align:center; margin-top:12px}
.place-category-panels .place-area-swiper .swiper-slide .txt-box .sub-txt {font-size:18px; font-weight:500; color:#444; text-align:center;}
.place-category-panels .place-area-swiper .swiper-slide .txt-box .sub-txt::before {content:'📍';}
.place-category-panels .place-area-swiper .swiper-slide .tags {display:flex; justify-content:center; align-items:center; margin-top:28px; gap:8px;}
.place-category-panels .place-area-swiper .swiper-slide .tags li {width:70px; height:32px; background-color:#fe7f2d; border-radius:16px; font-size:16px; font-weight:600; color:#fff; text-align:center; line-height:32px;}

.place-category-panels .swiper-button-next {right:-130px !important; z-index:10; width:50px; height:50px; padding:1rem; border:1px solid #2d3134; border-radius:50%; background-color:rgba(0,0,0,0.9);}
.place-category-panels .swiper-button-next::after {font-size:20px; color:#fff;}
.place-category-panels .swiper-button-prev {left:-130px !important; z-index:10; width:50px; height:50px; padding:1rem; border:1px solid #2d3134; border-radius:50%; background-color:rgba(0,0,0,0.9);}
.place-category-panels .swiper-button-prev::after {font-size:20px; color:#fff;}
.place-category-panels .swiper-button-next.swiper-button-disabled,
.place-category-panels .swiper-button-prev.swiper-button-disabled {background-color:rgba(0,0,0,0); opacity:1 !important;}
.place-category-panels .swiper-button-next.swiper-button-disabled::after,
.place-category-panels .swiper-button-prev.swiper-button-disabled::after {color:#000;}

.place-category-list .category-list {display:flex; justify-content:center; align-items:center; gap:32px; margin-top:40px;}
.place-category-list .category-list .category-unit {overflow:hidden; width:200px; height:260px; border-radius:100px;}
.place-category-list .category-list .category-unit .img-box {position:relative; width:100%; height:100%;}
.place-category-list .category-list .category-unit .img-box::after {content:''; position:absolute; left:0; top:0; width:100%; height:100%; background-color:rgba(0,0,0,0.26);}
.place-category-list .category-list .category-unit .img-box .txt {display:block; position:absolute; left:0; top:50%; z-index:50; width:100%; line-height:30px; margin-top:-15px; padding:0 20px; font-size:24px; font-weight:700; color:#fff; text-align:center; line-height:1.2;}

.festival-panels {position:relative; width:1240px; padding:0 90px; margin:100px auto 0;}
.festival-panels .festival-swiper {overflow:hidden;}
.festival-panels .swiper-wrapper {padding:10px;}
.festival-panels .swiper-slide {width:320px; border-radius:24px; background-color:#fff;box-shadow:0px 6px 4px 0px rgba(0, 0, 0, 0.4);}
.festival-panels .swiper-slide .img-box {overflow:hidden; height:320px; border-top-left-radius:24px; border-top-right-radius:24px;}
.festival-panels .swiper-slide .img-box img {object-fit:cover; object-position:50% 50%; width:100%; height:100%;}
.festival-panels .swiper-slide .txt-box {padding:24px 0; text-align:center;}
.festival-panels .swiper-slide .txt-box .name {font-size:24px; font-weight:700; color:#000;}
.festival-panels .swiper-slide .txt-box .sub-txt {font-size:18px; color:#777;}
.festival-panels .swiper-slide .txt-box .add-txt {font-size:18px; color:#444;}
.festival-panels .swiper-slide .txt-box .add-txt::before {content:'📍';}

.festival-panels .swiper-button-next {right:0 !important; z-index:10; width:50px; height:50px; padding:1rem; border:1px solid #2d3134; border-radius:50%; background-color:rgba(0,0,0,0.9);}
.festival-panels .swiper-button-next::after {font-size:20px; color:#fff;}
.festival-panels .swiper-button-prev {left:0 !important; z-index:10; width:50px; height:50px; padding:1rem; border:1px solid #2d3134; border-radius:50%; background-color:rgba(0,0,0,0.9);}
.festival-panels .swiper-button-prev::after {font-size:20px; color:#fff;}
.festival-panels .swiper-button-next.swiper-button-disabled,
.festival-panels .swiper-button-prev.swiper-button-disabled {background-color:rgba(0,0,0,0); opacity:1 !important;}
.festival-panels .swiper-button-next.swiper-button-disabled::after,
.festival-panels .swiper-button-prev.swiper-button-disabled::after {color:#000;}

.plans {display:flex; justify-content:space-between; align-items:center; width:1220px; margin:0 auto;}
.plans .item {width:380px; padding:20px; border-radius:24px; background-color:#fff; box-shadow:10px 10px 10px 1px rgba(0,0,0,0.4);}
.plans .item .img-box {overflow:hidden; position:relative; width:340px; height:240px; border-radius:20px;}
.plans .item .img-box .flags {display:flex; align-items:center; gap:0 6px; position:absolute; left:12px; top:12px;}
.plans .item .img-box .flags .flag {line-height:32px; padding:0 10px; border-radius:16px; background-color:#444; font-size:16px; font-weight:500; color:#fff;}
.plans .item .img-box .flags .flag::before {content:'#';}
.plans .item .img-box img {object-fit:cover; object-position:50% 50%; width:100%; height:100%;}
.plans .item .add {display:block; margin-top:20px; font-size:18px; font-weight:500; color:#444;}
.plans .item .add::before {content:'📍';}
.plans .item .title {display:block; margin-top:14px; font-size:24px; font-weight:700; color:#111;}
.plans .item .txt { margin-top:10px;font-size:18px; font-weight:500; color:#444;}
.plans .item .view-count {display:flex; justify-content:flex-end; align-items:center; gap:0 10px; margin-top:20px;}
.plans .item .view-count span {font-size:18px; color:#444;}
.plans .item .view-count .like::before {content:''; display:inline-block; margin-right:4px; background:url('../imgs/ico/ico-like.png') no-repeat 50% / 100% auto; width:18px; height:16px; vertical-align:-1px;}
.plans .item .view-count .view::before {content:''; display:inline-block; margin-right:4px; background:url('../imgs/ico/ico-view.png') no-repeat 50% / 100% auto; width:20px; height:16px; vertical-align:-1px;}

/* 
    장소찾기
*/
.location-area {margin-top:100px;}
.location-area .title {font-size:48px; font-weight:500; color:#111; text-align:center;}
.location-area .location-box {}
.location-area .location-box .location-tab {display:flex; justify-content:center; gap:14px; align-items:center; margin-top:60px;}
.location-area .location-box .location-tab .tab-item {flex:1; height:48px;}
.location-area .location-box .location-tab .tab-item > button {width:100%; height:100%; border:1px solid #2d3134; border-radius:4px; background-color:transparent; font-size:20px; color:#000}
.location-area .location-box .location-tab .tab-item.-active {background-color:#2d3134;}
.location-area .location-box .location-tab .tab-item.-active > button {background-color:#2d3134; color:#fff;}
.location-area .location-box .location-panel {display:none;}
.location-area .location-box .location-panel.-active {display:block;}


.search-place-box {padding:22px 55px; background-color:#f8f8f8;}
.search-place-box .search-units {display:flex; justify-content:space-between; align-items:center;}
.search-place-box .search-units .sel-units {display:flex; align-items:center;}
.search-place-box .search-units .sel-units .unit {display:flex; align-items:center; margin-right:40px;}
.search-place-box .search-units .sel-units .unit .title {margin-right:10px; font-size:18px; font-weight:500; color:#111;}
.search-place-box .search-units .sel-units .unit .select-val {width:200px; height:50px; padding:0 10px; border:1px solid #cbced7; border-radius:8px; background-color:#fff; font-size:16px;}
.search-place-box .search-units .search-txts {display:flex; align-items:center;}
.search-place-box .search-units .search-txts label {margin-right:10px; font-size:18px; font-weight:500; color:#111;}
.search-place-box .search-units .search-txt {overflow:hidden; position:relative; border:1px solid #cbced7; border-radius:8px;}
.search-place-box .search-units .search-txt input[type="search"] {width:300px; height:50px; padding:0 10px; background-color:#fff; font-size:16px;}
.search-place-box .search-units .search-txt .search-btn {position:absolute; right:0; top:0; width:50px; height:50px; background-color:gray;}
.search-place-box .his-category {display:flex; align-items:center; padding:18px 0; border-top:1px solid #eee;}
.search-place-box .his-category .title {margin-right:10px; font-size:18px; font-weight:500; color:#111;}
.search-place-box .his-category .refresh-btn {width:38px; height:38px; margin-right:8px; border:1px solid #eee; border-radius:50%; background-color:red;}
.search-place-box .his-category .flags {display:flex; align-items:center; gap:6px;}
.search-place-box .his-category .flags .flag {display:flex; align-items:center; height:38px; line-height:36px; padding:0 16px; border:1px solid #eee; border-radius:20px; background-color:#fff;}
.search-place-box .his-category .flags .flag .delete {width:12px; height:12px; margin-left:6px; background-color:red;}